/*
*{
    margin: 0;
    padding: 0;
}
*/

body{
    background-color:rgb(0, 0, 0);
    color:rgb(100, 100, 100);

    font-family: Impact, sans-serif;
    font-size: 16px;
    font-weight: normal;

    font: normal 16px Impact, sans-serif;

    line-height: 1.6em;
}

.container{
    width: 500px;
    margin:auto;
}

.box-1{
    background-color: #333;

    border: 5px rgb(200, 200, 200)solid;
    border-style: dashed;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box-1 h1{
    text-align: center;
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin:20px 0;
}

.box-2 h1{
    text-align: center;
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2px;    
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: square;
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(255, 199, 255);
}

a:hover{
    color: rgb(241, 109, 230);
}

a:active{
    color: rgb(255, 69, 62);
}

ul li{
    color: purple;
}